fastapi[standard]
uvicorn==0.32.0
numpy
transformers
huggingface_hub
langchain
langchain-core
langchain-huggingface
langgraph
langgraph-checkpoint-postgres
torch
torchaudio
sentencepiece
accelerate
bitsandbytes
faster-whisper
ctranslate2
speechbrain
pgvector
psycopg[binary,pool]
langchain-ollama
ollama
