fastapi[standard]
uvicorn==0.32.0
transformers
huggingface_hub
langchain
langchain-core
langchain-huggingface
langchain-openai
langgraph
langgraph-checkpoint-postgres
torch
torchaudio
sentencepiece
accelerate
bitsandbytes
pgvector
psycopg[binary,pool]
langchain-ollama
ollama
